body {
  outline: 2px dashed var(--ds-border-accent-blue, blue);
  margin: 5px;
  padding: 5px;
}

#content {
  outline: 2px dotted var(--ds-border-accent-red, red);
  padding: 5px;
}

code {
  font-family: SF Mono,Segoe UI Mono,Roboto Mono,Ubuntu Mono,Menlo,Courier,monospace;
  line-height: 20px;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(9,30,66,.13);
  padding: 1px 3px;
  margin: -1px 2px;
}